/* CSS */
* {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-fluid {
    height: 100%;
    background-color: #dfdfdf;
}
.row{
    height: 100%;
}
.col2{
    height: 70%;
}
.col1,.col3{
    background-color: #dfdfdf;
    height: 17%;
}
.bor{
    border: 2px solid #C8C8C8;
    margin-top: 50px;
    margin-bottom: 60px;
}
img[alt="profil"]{
    width: 80px;
    height: 75px;
}
input[type="password"]{
    width: 90%;
    height: 30px;
    border-radius: 10px;
}
button[type="button"]{
    width: 30%;
    background-color: #093545;
    font-size: 12px;
}
@media (max-width: 768px) { /* Changez la taille selon vos besoins */
    .d-md-block {
        display: none !important;
    }
    .d-md-none {
        display: block !important;
    }
    .col2{
        height: 100%;
    }
    .profil{
        height: 35%;
    }
    .bor{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 575px) { /* Changez la taille selon vos besoins */
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input[type="password"]{
        width: 100%;
        height: 24px;
        border-radius: 5px;
    }
    button[type="button"]{
        width: 70%;
        background-color: #093545;
        font-size: 12px;
    }
}