* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bg {
    background-color: #093545 !important;
  }
  
  .bg .placeholder {
    color: white !important;
  }
  
  .titre {
    color: #093545 !important;
  }
  
  .titre h1 {
    font-size: 60px;
  }
  
  .gérer {
    display: flex;
    justify-content: flex-end;
  }
  
  .contenu {
    background: #093545;
    width: 100%;
    height: 100vh;
    border-radius: 0 20% 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 990px) {
    .giss {
      display: none;
    }  
  }
  
  @media (max-width: 990px) {
    .fewnu {
      display: none;
    }
  }
  
  ::placeholder {
    color: white !important;
  }
  
  .para {
    color: #224957 !important;
    font-weight: bold !important;
    width: 100%;
    background: #20df7f !important;
    border: none !important;
    text-align: center;
  }
  
  .ra {
    background: #20df7f !important;
    border: none !important;
    color: #224957 !important;
  }
  
