* {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> a1fc45f8f808670068edbd18d61280613aa1074f
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bg {
    background-color: #093545 !important;
  }
  
  .bg .placeholder {
    color: white !important;
  }
  
  .titre {
    color: #093545 !important;
  }
  
  .titre h1 {
    font-size: 60px;
  }
  
  .gérer {
    display: flex;
    justify-content: flex-end;
  }
  
  .contenu {
    background: #093545;
    width: 100%;
    height: 100vh;
    border-radius: 0 20% 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 990px) {
    .giss {
      display: none;
    }  
    .footer-img{
      display: block !important;
    }
    .footer-img img{
      margin-top: 20vh !important;
    }
    .titre h1{
      display: none;
    }
    .titre img{
      margin-bottom: 100px;
      margin-left: 50px;
    }
    .titre h2{
      margin-bottom: 70px;
      font-size: 40px;
    }
    .titre img{
      display: block !important;
      
    }
    
  }
  
  @media (max-width: 990px) {
    .fewnu {
      display: none;
    }
  }
  
<<<<<<< HEAD
  .fewnu {
    background: #093545;
    width: 100%;
    height: 100vh;
    border-radius: 0 20% 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
=======
>>>>>>> a1fc45f8f808670068edbd18d61280613aa1074f
  ::placeholder {
    color: white !important;
  }
  
  .para {
    color: #224957 !important;
    font-weight: bold !important;
    width: 100%;
    background: #20df7f !important;
    border: none !important;
    text-align: center;
  }
  
  .ra {
    background: #20df7f !important;
    border: none !important;
    color: #224957 !important;
  }
<<<<<<< HEAD
  
<<<<<<< HEAD
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-color: #093545 !important;
}

.bg .placeholder {
  color: white !important;
}

.titre {
  color: #093545 !important;
}

.titre h1 {
  font-size: 60px;
}

.gérer {
  display: flex;
  justify-content: flex-end;
}

.contenu {
  background: #093545;
  width: 100%;
  height: 100vh;
  border-radius: 0 20% 20% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .giss {
    display: none;
  }
  .centre .para {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 990px) {
  .that {
    display: none;
  }
}

.conte {
  background: hsl(196, 77%, 15%);
  height: 100vh;
  border-radius: 0 20% 20% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 990px) {
  .fewnu {
    display: none;
  }
}

.fewnu {
  background: #093545;
  width: 100%;
  height: 100vh;
  border-radius: 0 20% 20% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: white !important;
}

.para {
  color: #224957 !important;
  font-weight: bold !important;
  width: 100%;
  background: #20df7f !important;
  border: none !important;
  text-align: center;
}

.ra {
  background: #20df7f !important;
  border: none !important;
  color: #224957 !important;
}

.raga {
  background: #20df7f !important;
  border: none !important;
  border-radius: 10px 10px 10px 10px;
  color: #093545 !important;
  width: 50%;
}

input {
  border: 1px solid black !important;
}
>>>>>>> d85d706b2eeefab56679eec7efb6b071df9353b4
=======
>>>>>>> a1fc45f8f808670068edbd18d61280613aa1074f
=======
  .footer-img{
    display: none;
  }
  .titre img{
    display: none;
  }
  
>>>>>>> 7f2bebc65c7150ee1fed4ec8c5e13acce87375ab
