body{
    background-color: rgb(210,210,210);
}
.bouton-du-modal{
    background-color: #C5C5C5;
    border: none;
}
.bouton-du-modal:hover{
    background-color: #CCCC;
}
.bouton-du-modal div{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #20df7f;
}
.les-trois-card-du-haut .card{
    height: 150px;
    border: none;
    box-shadow: 2px 1px 12px 1px rgba(0,0,0,0.2);
}
/* @media(max-width:){
    .card-total-caisse{
    
    }
} */
.card-cotisation-verte-blanche{
    border: none;
    box-shadow: 2px 1px 12px 1px rgba(0,0,0,0.2);
}
.table1-cotisations td,.table1-cotisations th{
    padding: 1.5rem;
}
.table1-cotisations th{
    background-color: #20df7f;
}
.table1-cotisations.rounded-table{
    border-radius: 20px;
}
.table1-cotisations .th-top-left{
    border-top-left-radius: 1rem;
}
.table1-cotisations .th-top-right{
    border-top-right-radius: 1rem;
}
.table1-cotisations .td-bottom-left{
    border-bottom-left-radius: 1rem;
}
.table1-cotisations .td-bottom-right{
    border-bottom-right-radius: 1rem;
}
.pagination .page-link{
    border: none;
    background-color: transparent;
}
.pagination .page-link div{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination .active .page-link div{
    background-color: #20df7f;
}
.modal-bouton-trois-points{
    max-width:1050px;
}
.modal-bouton-trois-points .modal-header{
    background-color:#20df7f;
}
.modal-bouton-trois-points .finish , .total-cotisations-user,.statut-termine{
    color: #20df7f;
}
.modal-bouton-trois-points .table1-cotisations th{
    background-color: #093545;
    color: #fff;
}
.modal-bouton-trois-points .table1-cotisations{
    box-shadow: 2px 1px 12px 1px rgba(0,0,0,0.2);
}
.details-cotisations .modal-bouton-trois-points{
    max-width: 500px;
}
.details-cotisations .table1-cotisations th{
    padding: 10px;
}
.details-cotisations .table1-cotisations{
    max-width: 362px;
    margin: auto;
}
.nom1-details-cotisations{
    max-width:160px;
}
.nom2-details-cotisations{
    max-width:210px;
}
.nom3-details-cotisations{
    max-width:230px;
}
.pre-card{
    background-color: #20df7f;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.post-card {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}