* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(210, 210, 210);
    font-family: Montserrat;
}

/* css sidebar admin par sam laye */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ededee;
    font-family: Montserrat;
    /*	font-weight: bold;*/
}

#navi ul li {
    list-style-type: none;
    padding-left: 1rem;
}

a {
    text-decoration: none;
}

.sidebar {
    background-color: #093545;
    height: 100%;
    position: fixed;
    z-index: 1000;
}

.sidebar .bakeli-tontine {
    font-size: 22px;
}

.nav-link-items {
    font-size: 17px;
}

.nav-param_link-items {
    font-size: 15px;
}

.dropdown .dropdown-menu li:hover {
    background-color: transparent;
}

.dropdown .dropdown-menu li {
    padding-left: 0.2rem;
}

.style-nav-elem {
    background-color: #20df7f;
    border-left: 0.2rem solid white;
    padding-left: 0.8rem;
}


.dropdown .dropdown-menu {
    color: white;
    overflow: hidden;
    background-color: transparent;
}

#header {
    padding-top: 10px;
    box-shadow: 0 0 8px 0.7px;
    background-color: #fff;
    color: #333;
}

#header div span .bi {
    font-size: 25px;
}

#header .user-name {
    font-size: 21px;
}

#header .user-type {
    font-size: 15px;
}

#header-btn-down {
    background-color: transparent;
}

#header img {
    width: 55px;
    height: 55px;
}

#badge {
    top: 20%;
    width: 25px;
    height: 25px;
    font-size: 10px;
    background-color: #20df7f;
    border: 2px solid white;
}

@media screen and (max-width: 1000px) {
    #navi ul li {
        padding-left: 0.1rem;
    }

    .nav-link-items {
        font-size: 15px;
    }

    .nav-param_link-items {
        font-size: 14px;
    }
}

@media screen and (max-width: 823px) {
    #navi ul li .dropdown-toggle span {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) {
    #header-mobile-option {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #header {
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 0 8px 0.7px;
        background-color: #093545;
        color: #fff;
    }

    #header div div button i {
        color: #fff;
    }

    #header .option-menu,
    #header .profil-compte .clock,
    #header .profil-compte .user-type,
    .sidebar .bakeli-tontine,
    .sidebar #navi #nav-ul li .link-name-hidden,
    #nav-link-items {
        display: none;
    }

    #header .profil-compte {
        padding-left: 10px;
        margin: auto;
        align-items: center;
    }

    #header .profil-compte .user-name {
        vertical-align: center;
        margin: auto 10px;
    }

    #header img {
        width: 55px;
        height: 55px;
    }

    .sidebar {
        background-color: #fff;
        box-shadow: 0 0 8px 0.7px #093545;
        bottom: 0;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sidebar #navi {
        width: 100%;
        padding-top: 0;
    }

    .sidebar #navi ul {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #navi ul li a .bi,
    #navi ul li .nav-link-items span .bi {
        font-size: 50px;
        color: #093545;
    }

    #navi ul li:active,
    .dropdown .dropdown-menu li:active {
        background-color: transparent;
        border-left: 0;
        padding-left: 0;
    }

    .bi {
        padding: 0 4px;
    }
}

@media screen and (max-width: 650px) {
    .nav-link-items {
        font-size: 13px;
    }

    #navi ul li a .bi,
    #navi ul li .nav-link-items span .bi {
        font-size: 30px;
        margin: auto;
    }

    #navi ul li span .bi {
        font-size: 30px;
    }
}

@media screen and (max-width: 625px) {
    #btn-deconnexion {
        display: none;
    }

    #header #power-container {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .sidebar {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sidebar nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 575px) {
    #header .user-name {
        font-size: 16px;
    }

    #header .user-type {
        font-size: 12px;
    }

    .option-menu {
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) {
    #navi ul li .nav-link-items span .bi {
        font-size: 30px;
        margin: auto;
    }
}

/* css sidebar admin par sam laye */

.bouton-du-modal {
    background-color: #C5C5C5;
    border: none;
}

.bouton-du-modal:hover {
    background-color: #CCCC;
}

.bouton-du-modal div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #20df7f;
}

.les-trois-card-du-haut .card {
    height: 150px;
    border: none;
    box-shadow: 2px 1px 12px 1px rgba(0, 0, 0, 0.2);
    color: #093545;
}

@media(max-width:468px) {
    .les-trois-card-du-haut h2 {
        font-size: 20px;
    }
}

.les-trois-card-du-haut .card h5 {
    color: #6C757D;
}

.les-trois-card-du-haut .card h2 {
    color: #093545;
}

.card-cotisation-verte-blanche {
    border: none;
    box-shadow: 2px 1px 12px 1px rgba(0, 0, 0, 0.2);
}

.table1-cotisations td,
.table1-cotisations th {
    padding: 1.5rem;
}

.table1-cotisations th {
    background-color: #20df7f;
}

.table1-cotisations.rounded-table {
    border-radius: 20px;
}

.table1-cotisations .th-top-left {
    border-top-left-radius: 1rem;
}

.table1-cotisations .th-top-right {
    border-top-right-radius: 1rem;
}

.table1-cotisations .td-bottom-left {
    border-bottom-left-radius: 1rem;
}

.table1-cotisations .td-bottom-right {
    border-bottom-right-radius: 1rem;
}

.pagination .page-link {
    border: none;
    background-color: transparent;
}

.pagination .page-link div {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .active .page-link div {
    background-color: #20df7f;
}

.modal-bouton-trois-points {
    max-width: 1000px;
}

@media(max-width:992px) {
    .modal-bouton-trois-points {
        max-width: 700px;
    }
}

@media(max-width:768px) {
    .modal-bouton-trois-points {
        max-width: 500px;
    }
}

.modal-bouton-trois-points .modal-header {
    background-color: #20df7f;
}

.modal-bouton-trois-points .modal-body {
    overflow: scroll;
    max-height: 800px;
}

.modal-bouton-trois-points .finish,
.total-cotisations-user,
.statut-termine {
    color: #20df7f;
}

.modal-bouton-trois-points .table1-cotisations th {
    background-color: #093545;
    color: #fff;
}
.modal-body h2{
    color: #083A50;
    font-weight: bolder;
}

.modal-bouton-trois-points .table1-cotisations {
    box-shadow: 2px 1px 12px 1px rgba(0, 0, 0, 0.2);
}

.details-cotisations .modal-bouton-trois-points {
    max-width: 700px;
}

@media(max-width:720px) {
    .details-cotisations .modal-bouton-trois-points {
        max-width: 600px;
    }
}

@media(max-width:668px) {
    .details-cotisations .modal-bouton-trois-points {
        max-width: 570px;
    }
}

.details-cotisations .modal-body {
    overflow: scroll;
    max-height: 600px;
}

@media(max-width:992px) {
    .details-cotisations .modal-body {
        height: 500px;
    }
}

.details-cotisations .table1-cotisations th {
    padding: 10px;
}

.details-tableau div {
    background-color: #cccc;
}

.details-tableau .first-div {
    background-color: #093545;
    color: #fff;
}

.nom1-details-cotisations {
    max-width: 160px;
}

.nom2-details-cotisations {
    max-width: 210px;
}

.nom3-details-cotisations {
    max-width: 230px;
}

.pre-card {
    background-color: #20df7f;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.post-card {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}