* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: hwb(196 4% 73%);
}

.phase {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.para {
  color: #224957 !important;
  font-weight: bold !important;
  width: 100%;
  background: #20df7f !important;
  border: none !important;
  margin-top: 80px;
  animation: SlideUp 3s;
}

.para:hover {
  background-color: #224957 !important;
  color: white !important;
  transition: 1s;
}

.titre h1 {
  font-size: 50px !important;
  animation: SlideDown 3s;
}

@media (max-width: 990px) {
  .phase {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  h1 {
    animation: SlideDown 3s;
  }

  .para {
    color: #224957 !important;
    font-weight: bolder !important;
    font-size: 1.5rem;
    background: #20df7f !important;
    border: none !important;
    margin-top: 80px;
    animation: SlideUp 3s;
  }
}

@keyframes SlideDown {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes SlideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
