/* Parametres Generaux */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lugrasimo&family=Montserrat:wght@100;400&family=Poppins:wght@400;500;600;700&family=Satisfy&display=swap');
#parametresGeneraux{
    background-color: #EDEDEE;
    font-family: 'Montserrat';
    height: 100%;
}

#parametresGeneraux #editerProfil , #parametresGeneraux #mettreAjour{
    background-color: #093545;
    color: #fff;
}

#parametresGeneraux #adminInformations h4{
    background-color: #20DF7F;
}

#parametresGeneraux #contentInfo {
    width: 100%;
}

#parametresGeneraux #admin img {
    border: 6px solid #20DF7F;
    width: 45%;
}


/* media quiries */
@media screen and (min-width:560px) and (max-width:1400px){
    #parametresGeneraux #admin{
        border-right: 3px solid #C8C8C8;
    }
    #parametresGeneraux #adminInformations{
        padding: 3%;
    }

    #parametresGeneraux #contentInfo {
        padding: 2%;
        width: 100%;
    }

    #parametresGeneraux .information{
        padding-left: 6%;
        padding-top: 1%;
    }

    #parametresGeneraux .information .bttn{
        display: flex;
        justify-content: right;
    }

    #parametresGeneraux .profilAdmin{
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;           
    }

    #parametresGeneraux #file {
        display: none;
    }

    #parametresGeneraux #uploadButton{
        position: absolute;
        height: 30px;
        padding: 4px 7px 5px 7px;
        width: 30px;
        border-radius: 50%;
        background-color: #20DF7F;
        color: #fff;
        cursor: pointer;
        left: 60%;
        top: 80%;
    }

}

@media screen and (min-width: 300px) and (max-width: 559px){
    #parametresGeneraux #admin .profil {
        display: flex;
        padding-top: 2%;
        padding-bottom: 2%;

    }

    #parametresGeneraux #admin .titleProfil{
        display: none;
    }
    
    #parametresGeneraux #admin img {
        width: 100%;
        height: 100%;
    }

    #parametresGeneraux #admin .name {
        padding: 10%;
    }

    #parametresGeneraux #editerProfil{
        display: none;
    }

    #parametresGeneraux .information .bttn{
        display: flex;
        justify-content: center;
    }

    #parametresGeneraux .profilAdmin{
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;           
    }

    #parametresGeneraux #file {
        display: none;
    }

    #parametresGeneraux #uploadButton{
        position: absolute;
        height: 30px;
        padding: 2% 3%;
        width: 30px;
        border-radius: 50%;
        background-color: #20DF7F;
        color: #fff;
        cursor: pointer;
        left: 72%;
        top: 80%;
    }
}

@media screen and (min-width: 530px) and (max-width: 770px){
    #parametresGeneraux #uploadButton{
        position: absolute;
        height: 30px;
        padding: 4px 7px 5px 7px;
        width: 30px;
        border-radius: 50%;
        background-color: #20DF7F;
        color: #fff;
        cursor: pointer;
        left: 55%;
        top: 80%;
    }

    #parametresGeneraux .name {
        padding-top: 8%;
    }
}

@media screen and (min-width: 100px) and (max-width: 259px){
    #parametresGeneraux #uploadButton{
        position: absolute;
        height: 30px;
        padding: 4px 7px 5px 7px;
        width: 30px;
        border-radius: 50%;
        background-color: #20DF7F;
        color: #fff;
        cursor: pointer;
        left: 65%;
        top: 80%;
    }

    #parametresGeneraux #admin .profil {
        display: flex;
        padding-top: 2%;
        padding-bottom: 2%;

    }

    #parametresGeneraux #admin .titleProfil{
        display: none;
    }
    
    #parametresGeneraux #admin img {
        width: 100%;
        height: 80%;
    }

    #parametresGeneraux #admin .name {
        padding: 10%;
    }

    #parametresGeneraux #editerProfil{
        display: none;
    }

    #parametresGeneraux .information .bttn{
        display: flex;
        justify-content: center;
    }

    #parametresGeneraux .profilAdmin{
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;           
    }

    #parametresGeneraux #file {
        display: none;
    }


}

@media screen and (min-width:1401px) and (max-width:1450px){
    #parametresGeneraux #admin{
        border-right: 3px solid #C8C8C8;
    }
    #parametresGeneraux #adminInformations{
        padding: 3%;
    }

    #parametresGeneraux #contentInfo {
        padding: 2%;
        width: 100%;
    }

    #parametresGeneraux .information{
        padding-left: 6%;
        padding-top: 1%;
    }

    #parametresGeneraux .information .bttn{
        display: flex;
        justify-content: right;
    }

    #parametresGeneraux .profilAdmin{
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;           
    }

    #parametresGeneraux #file {
        display: none;
    }

    #parametresGeneraux #uploadButton{
        position: absolute;
        height: 30px;
        padding: 4px 7px 5px 7px;
        width: 30px;
        border-radius: 50%;
        background-color: #20DF7F;
        color: #fff;
        cursor: pointer;
        left: 60%;
        top: 80%;
    }

}