@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Montserrat;
  font-weight: 500;
}

li {
  list-style-type: none;
  color: black;
}

#navi ul li {
  padding-left: 1rem;
}

a {
  text-decoration: none;
}

.dn {
	margin-top: 76px;
	background-color: #efeded;
	padding: 30px;
}

.sidebar {
  background-color: #093545;
  height: 100%;
  position: fixed;
  z-index: 1000;
}

.sidebar .bakeli-tontine {
  font-size: 22px;
}

.nav-link-items {
  font-size: 17px;
}

.nav-param_link-items {
  font-size: 15px;
}

.dropdown .dropdown-menu li:hover {
  background-color: transparent;
}

.dropdown .dropdown-menu li {
  padding-left: 0.2rem;
}

.style-nav-elem {
  background-color: #20df7f;
  border-left: 0.2rem solid white;
  padding-left: 0.8rem;
}

.dropdown .dropdown-menu {
  color: white;
  overflow: hidden;
  background-color: transparent;
}

#header {
  padding-top: 10px;
  box-shadow: 0 0 8px 0.7px;
  background-color: #fff;
  color: #333;
}

#header div span .bi {
  font-size: 25px;
}

#header .user-name {
  font-size: 21px;
}

#header .user-type {
  font-size: 15px;
}

#header-btn-down {
  background-color: transparent;
}

#header img {
  width: 55px;
  height: 55px;
}
/*================D.R.O.P.D.O.W.N==================*/
/* 
#myModal {
  position: absolute;
  display: none;
  width: 200px;
  height: auto;
  margin: 10px;
  background-color: #093545;
  z-index: 10;
  top: 50px;
  right: 50px;
  color: #fff;
}

#modal_container {
  position: relative;
  padding: 20px 10px 10px 10px;
  margin: 10px;
  border: 1px solid #fff;
}

#myModal #modal_container ul {
  margin-left: 0px;
  padding-left: 0;
}

#myModal #modal_container ul #modal_deconnexion button {
  padding-left: 0 !important;
}

#myModal #modal_container ul #modal_deconnexion button a {
  transition: 0.75s ease-in-out !important;
}

#myModal #modal_container ul #modal_deconnexion i {
  font-size: 15px;
}

#myModal #modal_container ul #modal_deconnexion button,
#myModal #modal_container ul #notification_resp button {
  background-color: transparent;
}

#myModal #modal_container ul #modal_deconnexion button a:hover {
  color: red !important;
}

#closeModalBtn {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
} */

/*======================================*/
#badge {
  top: 20%;
  width: 25px;
  height: 25px;
  font-size: 10px;
  background-color: #20df7f;
  border: 2px solid white;
}

#start .link-animation {
  transform: translate(calc(1px * var(--x)), calc(1px * var(--y)));
  transition: transform 1s;
  transition-delay: calc(0.1s * var(--i));
  background-color: #093545;
}

#start.active .link-animation {
  transform: translate(calc(14px * var(--x)), calc(14px * var(--y)));
}

#start.desactive .link-animation {
  transform: translate(calc(1px * var(--x)), calc(1px * var(--y)));
}

@media screen and (max-width: 1000px) {
  #navi ul li {
    padding-left: 0.1rem;
  }
  .nav-link-items {
    font-size: 15px;
  }
  .nav-param_link-items {
    font-size: 14px;
  }
}

@media screen and (max-width: 823px) {
  #navi ul li .dropdown-toggle span {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  #header-mobile-option,
  #param-dropu,
  #notification_resp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 8px 0.7px;
    background-color: #093545;
    color: #fff;
  }
  #header div div button i {
    color: #fff;
  }
  #header .option-menu,
  #header .profil-compte .clock,
  #header .profil-compte .user-type,
  .sidebar .bakeli-tontine,
  .sidebar #navi #nav-ul li .link-name-hidden,
  .sidebar #param-dropdown,
  #nav-link-items,
  #myModal #modal_container ul #modal_deconnexion #btn {
    display: none;
  }
  #header .profil-compte {
    padding-left: 10px;
    margin: auto;
    align-items: center;
  }
  #header .profil-compte .user-name {
    vertical-align: center;
    margin: auto 10px;
  }
  #header img {
    width: 55px;
    height: 55px;
  }
  #header #create-new-container {
    margin-right: 25px;
  }
  #header #myModal {
    top: 50px;
    left: 50px;
  }

  .sidebar {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 8px 0.7px #093545;
    bottom: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sidebar #navi {
    width: 100%;
    padding-top: 0;
  }
  .sidebar #navi ul {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #navi ul li a .bi,
  #navi ul li .nav-link-items span .bi,
  #param-dropu #start .link-animation .bi,
  #param-dropu #start #link-animation-start .bi {
    font-size: 50px;
    color: #093545;
  }
  #navi ul li a .bi {
    position: relative;
  }
  #navi ul li:active,
  .dropdown .dropdown-menu li:active {
    background-color: transparent;
    border-left: 0;
    padding-left: 0;
  }
  .bi {
    padding: 0 4px;
  }
}

@media screen and (max-width: 650px) {
  .nav-link-items {
    font-size: 13px;
  }

  #navi ul li a .bi,
  #navi ul li .nav-link-items span .bi,
  #param-dropu #start .link-animation .bi,
  #param-dropu #start #link-animation-start .bi {
    font-size: 30px;
    margin: auto;
  }
  #navi ul li span .bi {
    font-size: 30px;
  }
}

@media screen and (max-width: 625px) {
  #btn-deconnexion {
    display: none;
  }
  #header #power-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  .sidebar {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sidebar nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 575px) {
  #header .user-name {
    font-size: 16px;
  }
  #header .user-type {
    font-size: 12px;
  }
  .option-menu {
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  #navi ul li .nav-link-items span .bi,
  #param-dropu #start .link-animation .bi,
  #param-dropu #start #link-animation-start .bi {
    font-size: 30px;
    margin: auto;
  }
}

@media screen and (max-width: 405px) {
  #header #create-new-container {
    margin-right: 10px;
  }

  #create-new-container {
    display: flex;
    justify-content: center;
  }
  #create-new-container .create-new {
    display: none;
  }
}

@media screen and (max-width: 365px) {
  #header-mobile-option div button {
    border: none !important;
  }
  #header #create-new-container {
    margin-right: 0px;
    padding: 0 !important;
  }
  #header #create-new-container .create-new {
    padding: 0 !important;
  }
  #header-mobile-option div #power-container #btn-deconnexion {
    padding: 0 !important;
  }
  #header-mobile-option div #power-container {
    padding: 0 !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 322px) {
  #header .profil-compte {
    padding: 0 0;
    margin: 0 !important;
  }
  #header-mobile-option button i {
    font-size: 17px !important;
  }
  #header #header-user-profil {
    margin-left: 0 0 !important;
  }
  #header #header-user-profil #header-btn-down {
    margin-left: 2px !important;
    font-size: 15px;
  }
  #header #profil-img {
    width: 45px !important;
    height: 45px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #header .user-name {
    font-size: 15px !important;
  }
}

/* Style paramètres utilisateurs */

label {
  animation: SlideLeft 3s;
  color: black;
}

.update {
  background-color: rgba(9, 53, 69, 1) !important;
  border: none !important;
  color: whitesmoke !important;
  font-weight: bold;
}

.update:hover {
  background-color: rgba(32, 223, 127, 1) !important;
  transition: 2s;
  color: rgba(9, 53, 69, 1) !important;
}

.param {
  color: black;
}

.p:hover {
  background: linear-gradient(
    to left,
    rgba(9, 53, 69, 1) 98%,
    rgba(32, 223, 127, 1) 2%
  );
  width: 100%;
  height: 100%;
  transition: 2s;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bold;
}

/* ul {
  margin: 20px auto;
  padding: 15px;
} */

/* #suivant {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  font-size: normal;
  cursor: pointer;
}

.suivant {
  background-color: rgba(32, 223, 127, 1);
  font-size: medium;
  border: 1px solid rgba(32, 223, 127, 1);
  border-radius: 50%;
  padding: 5px;
} */

input {
  animation: SlideRight 3s;
  border: 1px solid black !important;
}

@keyframes SlideRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 575px) {
  .down {
    margin-bottom: 100px;
  }
}

.bg-secondary-subtle {
  background-color: rgba(13, 13, 13, 0.19) !important;
}

/* ********************** PAGINATION ******************* */

.custom-pagination .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin: 0 9px;
}

.custom-pagination .page-item.active .page-link {
  background-color: #20DF7F;
  border-color: #20DF7F;
  color: #1f1e1e;
}

.custom-pagination .page-item:nth-child(3) .page-link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #efeded;
  border-color: #efeded;
  color: #1f1e1e;
}

.custom-pagination .page-item:nth-child(3) .page-link:hover {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #efeded;
  border-color: #efeded;
  color: #1f1e1e;
}

.custom-pagination .page-item:nth-child(4) .page-link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #efeded;
  border-color: #efeded;
  color: #1f1e1e;
}

.custom-pagination .page-item:nth-child(4) .page-link:hover {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #efeded;
  border-color: #efeded;
  color: #1f1e1e;
}

.custom-pagination .page-item:nth-child(5) .page-link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #efeded;
  border-color: #efeded;
  color: #1f1e1e;
}

.custom-pagination .page-item:nth-child(5) .page-link:hover {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #efeded;
  border-color: #efeded;
  color: #1f1e1e;
}

.custom-pagination .page-pagi .pagi-link[aria-label="Précédent"],
.custom-pagination .page-pagi .pagi-link[aria-label="Suivant"] {
  text-decoration: none;
  width: 30px;
  height: 30px;
  font-size: 11px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin: 0 10px;
}
