.userdashboard .col-12{
    max-width: 500px;
    margin: auto !important;
}
.userdashboard .col-lg-3{
    max-width: 380px;
    margin: auto !important;
}
.userdashboard .bg-success{
    background-color:  #20DF7F !important;
}
.userdashboard .text-success{
    color:  #20DF7F !important;
}
.userdashboard .border-success{
    border-color:  #20DF7F !important;
    border: 1px solid rgba(0, 0, 0, 0.123) !important;
    border-left: 8px solid #20DF7F !important;
}
.userdashboard .border-primary{
    border-color:  #093545 !important;
    border: 1px solid rgba(0, 0, 0, 0.123) !important;
    border-left: 8px solid #093545 !important;
}
.userdashboard .text-primary{
    color: #093545 !important;
}
.userdashboard .bg-primary,.userdashboard .btn-primary{
    background-color: #093545 !important;
}
.userdashboard .caisse .progress{
    height: 10px !important;
    }
.userdashboard .table{
    max-width: 1000px;
    margin: auto ;
}
@media screen and (max-width:300px) {
    .userdashboard .caisse i{
display: none;
    }
}
@media screen and (max-width:768px) {
    .userdashboard .caisse .card{
    background-color: #093545;
    color: white;
    }
    .userdashboard .caisse .card span{
    color: white !important;
    }

.userdashboard .caisse i{
    background-color: #20df8049 !important;
        }
    }